<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Inventory Actions" preserve-order="true">
    <classes>
      <class name="org.N26.PetStoreApiAutomation.Tests.MoveOrderFromPlcaedToApproveToDelivered"/>
      <class name="org.N26.PetStoreApiAutomation.Tests.PlaceAndDeleteOderFromInventory"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
